# Exclude anything inside the "matrices" directory
matrices/*
***spmv
***spmv-host
***logs
***.log
automation_tool/src/__pycache__
automation_tool/src/__pycache__/**
pyhispmv/build**
pyhispmv/*.so
pyhispmv/pyhispmv.egg-info
apps/__pycache__
cpu/main
