# Exclude anything inside the "matrices" directory
matrices/*
builds
builds/** 
codegen/scripts/__pycache__
codegen/scripts/__pycache__/**

# Exclude binary file named "spmv" in any folder
**/spmv
**/*.log
